:root{
    --primary-color: #00232b;
    --secondary-color: #14ddac;
    --secondary-color-dark: #11aa84;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/********************
* Layout and Generic
*********************/
h1{
    padding: 0;
    margin: 0;
}

h2{
    padding: 0;
    margin: 0;
}

h3{
    padding: 0;
    margin: 0;
}

h4{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}

.page-wrapper{
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page{
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Nunito", sans-serif;
}

.page-header{
    padding: 1rem 0 2rem 0;
}

/********************
* Library
*********************/

.lesson-library-container{
    margin-bottom: 2rem;
}

.lesson-container-header{
    margin-bottom: 0.5rem;
}

.lesson-container-title{
    font-size: 1.5rem;
}

.lesson-carousel{
    display: flex;
    width: 100%;
}

.lesson-card{
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.lesson-card-hero{
    height: 75%;
    background-color: var(--primary-color);
}

.lesson-card-footer{
    display: flex;
    align-items: center;
    height: 25%;
    padding: 0 0.5rem;
}

.lesson-card:hover {
    transition: all 0.3s;
    transform: translate(0, 2px);
    border-color: lightgray;
}

.lesson-card-link{
    text-decoration: none;
    color: var(--primary-color);
}

.lesson-card-title{
    font-size: 1.25rem;
}

/********************
* Lesson
*********************/
.lesson-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lesson-content{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 1rem;
    flex-grow: 1;
}

.story-title{
    font-size: 1rem;
}

.paragraph{
    margin-bottom: 1rem;
}

.selected-text{
    background-color: goldenrod;
    border-radius: 2px;
    height: 100%;
}

.lesson-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dictionary{
    padding: 1rem;
    background-color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-section{
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.hero-section a{
    transition: all 0.3s;
    color: var(--secondary-color);
}

.hero-section a:hover{
    transition: all 0.3s;
    color: white;
}

.hero-text{
    font-family: "Nunito", sans-serif;
    max-width: 600px;
    color: white;
}

.hero-button{
    transition: all 0.3s;
    cursor: pointer;
    padding: 0.5rem;
    color: black;
    background-color: transparent;
    border-style: solid;
    border-color:gray;
    border-width: 2px;
    border-bottom-width: 5px;
    border-radius: 10px;
    color: white;
}

.hero-button:hover {
    transition: all 0.3s;
    transform: translate(0, 2px);
    border-color: lightgray;
}

.btn-highlight{
    color: black;
    background-color: var(--secondary-color);
    border-color:var(--secondary-color-dark);
}

.hero-title{
    font-size: 2.5rem;
}

.hero-buttons{
    display: flex;
}

.page-title{
    color: var(--primary-color);
}

.color-nav{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.color-nav a{
    color: white !important;
}

.text-highlight{
    color: var(--secondary-color);
}

.spacer-sm{
    padding: 0.5rem;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { 
    .page{
        padding: 0 1rem;
    }
}
